<h2>Welcome <%= current_user.email %></h2>

<% if @users_awaiting_approval %>
<h3>This users are awaiting approval</h3>
<table>
  <thead>
    <tr>
      <td>Email</td>
      <td>Added on</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @users_awaiting_approval.each do |user| %>
      <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at.in_time_zone("Caracas").strftime('%F %R') %></td>
          <td>
            <%= form_for user, url: edit_user_registration_path(user.id), method: :put do |form| %>
            <%= hidden_field(:user, :approved, value: true) %>
            <%= submit_tag("Approve") %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>