<h2>Welcome <%= current_user.email %></h2>

<% if @users_awaiting_approval %>
<h3>This users are awaiting approval</h3>
<table>
  <thead>
    <tr>
      <td>Email</td>
      <td>Added on</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @users_awaiting_approval.each do |user| %>
      <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at.in_time_zone("Caracas").strftime('%F %R') %></td>
          <td><%= button_to('Approve', approve_path(user.id), :method => :put) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<% if @approved_users %>
<h3>Approved users</h3>
<table>
  <thead>
    <tr>
      <td>Email</td>
      <td>Added on</td>
      <td>Actions</td>
    </tr>
  </thead>
  <tbody>
    <% @approved_users.each do |user| %>
      <tr>
          <td><%= user.email %></td>
          <td><%= user.created_at.in_time_zone("Caracas").strftime('%F %R') %></td>
          <td><%= button_to('Make admin', make_admin_path(user.id), :method => :put) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>