<% content_for :title do %>Sign up<% end %>
<%= render "devise/devise_nav_bar" %>
<div class="container">
  <h2>Sign up</h2>

  <div class="jumbotron">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:"form-horizontal") do |f| %>
        <%= devise_error_messages! %>
        </br></br>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-10">
            <%= f.email_field :email, autofocus: true, class:"form-control", id:"inputEmail3", placeholder:"Email" %>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
           <%= f.password_field :password, autocomplete: "off", class:"form-control", id:"inputPassword3", placeholder:"Password (#{@minimum_password_length}  characters minimum)" %>
         </div>
       </div>
       <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 control-label">Password confirmation</label>
        <div class="col-sm-10">
          <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", id:"inputPassword3", placeholder:"Password" %>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-offset-2 col-sm-10">
          <%= f.submit "Submit", class:"btn btn-default" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
</div>